{:paths ["src" "test"]
 :deps {com.taoensso/nippy {:mvn/version "3.4.2"}
        techascent/tech.io {:mvn/version "4.31"}
        io.github.clojure-quant/quanta-calendar {:local/root "../" :deps/manifest :deps}}
;
 }